<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<body>

<main class="container">
    <br><br>
    <div class="container">
        <h1>Agendamento de Consulta</h1>
        <hr>
        <form xmlns:sec="http://www.w3.org/1999/xhtml" th:action="@{${agendamento.id == null} ? '/agendamento/save' : '/agendamento/update'}" th:object="${agendamento}" method="post">
            <input type="hidden" th:field="*{id}">


        </form>
    </div>

</main>

</body>

</html>