<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{})}"></head>
<body>
<main>
    <main class="container">
        <br><br>
        <div class="container">
            <h1>Cadastro de Consultas</h1>
            <hr>
            <form th:action="@{${consulta.id == null} ? '/consulta/save' : '/consulta/update'}" th:object="${consulta}" method="post">
                <input type="hidden" th:field="*{id}">

                <div class="col-12">
                    <input class="form-control" type="text" th:field="*{valor}"  placeholder="Valor">
                </div>
                <br>
                <div class="col-12">
                    <input class="form-control" type="text" th:field="*{observacao}"  placeholder="Observacao">
                </div>
                <br>
                <div class="col-12">
                    <input class="form-control" type="text" th:field="*{data}"  placeholder="data">
                </div>
                <br>
                <input class="btn btn-success btn-sm" type="submit" value="Enviar">
            </form>
        </div>
    </main>
</body>
</html>
