<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{})}"></head>
<body>
<main>
    <div class="container-fluid">
        <br><br>
        <div class="container ">
            <div class="d-flex justify-content-between">
                <h1>Consultas realizadas</h1>
                <div class="d-flex align-items-center">
                    <a class="btn btn-success btn-sm " href="/consulta/form">+ Novo Consulta</a>
                </div>
            </div>
            <hr>
            <table class="table table-sm" border="1">
                <thead class="table-dark">
                <tr>
                    <th>Paciente</th>
                    <th>Médico</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Detalhes</th>
                </tr>
                </thead>
                <tr class="teste" th:each="c : ${consulta}">
                    <td th:text="${c.paciente.getNome()}"></td>
                    <td th:text="${c.medico.getNome()}"></td>
                    <td th:text="${c.valor}"></td>
                    <td th:text="${#temporals.format(c.data, 'dd/MM/yyyy')}"></td>
                    <td><a class="btn btn-info btn-sm" th:href="@{/consulta/{id}(id=${c.id})}">Detalhes</a></td>
                </tr>
            </table>
            <span class="badge text-bg-success">Total R$: <span th:text="${#numbers.formatDecimal(vTotal,1, 2, 'COMMA')}"></span> </span>
        </div>
    </div>
</main>
</body>
</html>
