<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{})}"></head>
<body>
<main>
    <br><br>
    <div class="container">
        <h1>Cadastro de Médico(a)</h1>
        <hr>
        <form th:action="@{${medico.id == null} ? '/medico/save' : '/medico/update'}" th:object="${medico}" method="post">
            <input type="hidden" th:field="*{id}">

            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="*{nome}"  placeholder="Nome completo">
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="*{crm}"  placeholder="CRM">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="*{cpf}"  placeholder="CPF">
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="*{telefone}"  placeholder="Telefone">
                </div>
            </div>

            <br>
            <a class="btn btn-sm btn-primary elevate" href="/medico/list">Voltar</a>
            <input class="btn btn-success btn-sm elevate" type="submit" value="Enviar">
            <br>
            <br>
            <div class="alert alert-danger" role="alert" th:each="erro : ${#fields.detailedErrors()}">
                <span th:text="${erro.message}"></span>
            </div>
        </form>

    </div>
</main>
</body>
</html>
