<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{})}"></head>
<body>
<main>
    <div class="container">
        <h1>Cadastro de Médico</h1>
        <hr>
        <form th:action="@{${medico.id == null} ? '/medico/save' : '/medico/update'}" th:object="${medico}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="col-12">
                <input class="form-control" type="text" th:field="*{nome}"  placeholder="Nome">
            </div>
            <br>
            <div class="col-12">
                <input class="form-control" type="text" th:field="*{crm}"  placeholder="CRM">
            </div>
            <br>
            <div class="col-12">
                <input class="form-control" type="text" th:field="*{cpf}"  placeholder="CFP">
            </div>
            <br>
            <div class="col-12">
                <input class="form-control" type="text" th:field="*{telefone}"  placeholder="Telefone">
            </div>
            <br>
            <input class="btn btn-success btn-sm" type="submit" value="Enviar">
        </form>
    </div>
</main>
</body>
</html>
