<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<body>

<main>

    <div class="container-fluid">
        <br><br>
        <div class="container">
            <div class="d-flex justify-content-between">
                <h2>Médicos cadastrados</h2>
                <div class="d-flex align-items-center">
                    <a class="btn btn-success btn-sm " href="/medico/form">+ Novo Médico</a>
                </div>
            </div>
            <hr>
            <table class="table table-sm" border="1">
                <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>CRM</th>
                    <th>CPF</th>
                    <th>Consultas</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
                </thead>
                <tr th:each="m : ${medico}">
                    <td th:text="${m.nome}"></td>
                    <td th:text="${m.crm}"></td>
                    <td th:text="${m.cpf}"></td>
                    <td> <a class="btn btn-info btn-sm" th:href="@{/medico/{id}(id=${m.id})}">Ver consultas</a></td>
                    <td> <a class="btn btn-warning btn-sm" th:href="@{/medico/editMedico/{id}(id=${m.id})}">Editar</a></td>
                    <td> <a class="btn btn-danger btn-sm" onclick="return window.confirm('Tem certeza que deseja excluir este Médico?')" th:href="@{/medico/removeMedico/{id}(id=${m.id})}">Excluir</a> </td>
                </tr>
            </table>
        </div>
    </div>
</main>
</body>
</html>
