<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{})}"></head>
<body>
<main>
  <div class="container">
    <br><br>
    <div class="container">
      <h1>Sistema de Consulta Médica</h1>
      <hr>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-6">
            <div class="small-box bg-warning">
              <h1>Pacientes</h1>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
              <h1>Médicos</h1>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-primary">
              <h1>Consultas</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

</body>
</html>
