<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consultas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">App de Consulta Médica</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"  href="/consulta/list">Consultas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/paciente/list">Pacientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/medico/list">Médicos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <br><br>
    <div class="container">
        <h1>Paciente: <span th:text="${paciente.nome}"></span></h1>
        <hr>
        <table class="table table-sm table-striped " border="1">
            <thead class="table-dark">
            <tr>
                <th>Valor</th>
                <th>Data</th>
                <th>Médico</th>
                <th>Detalhes</th>
            </tr>
            </thead>
            <tr th:each="m : ${paciente.getConsultas()}">
                <td th:text="${m.valor}"></td>
                <td th:text="${#temporals.format(m.data, 'dd/MM/yyyy')}"></td>
                <td th:text="${m.medico.getNome()}"></td>
                <td><a class="btn btn-info btn-sm" th:href="@{/consulta/{id}(id=${m.id})}">Detalhes</a></td>
            </tr>
        </table>
        <span class="badge text-bg-success">Total R$: <span th:text="${paciente.valorTotal()}"></span> </span>
    </div>
</div>
</body>
</html>