<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{})}"></head>
<body>
<main>
    <div class="container">
        <br><br>
        <div class="container">
            <div class="d-flex justify-content-start">
                <h2>Paciente <span th:text="${paciente.nome}"></span> | </h2>
                <div class="d-flex align-items-center">
                    <span class="badge text-bg-warning">Total R$: <span th:text="${#numbers.formatDecimal(paciente.valorTotal(),1, 2, 'COMMA')}"></span> </span>
                </div>
            </div>
            <hr>
            <table class="table table-sm" border="1">
                <thead class="table-dark">
                <tr>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Médico</th>
                    <th>Detalhes</th>
                </tr>
                </thead>
                <tr th:each="m : ${paciente.getConsultas()}">
                    <td th:text="${m.valor}"></td>
                    <td th:text="${#temporals.format(m.data, 'dd/MM/yyyy')}"></td>
                    <td th:text="${m.medico.getNome()}"></td>
                    <td><a class="btn btn-outline-info btn-sm " th:href="@{/consulta/{id}(id=${m.id})}">Detalhes</a></td>
                </tr>
            </table>

        </div>
    </div>
</main>
</body>
</html>
