<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{})}"></head>
<body>
<main>
    <br><br>
    <div class="container">
        <h1>Cadastro de Paciente</h1>
        <hr>

        <form th:action="@{${paciente.id == null} ? '/paciente/save' : '/paciente/update'}" th:object="${paciente}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="col-12">
                <input class="form-control" type="text" th:field="*{nome}"  placeholder="Nome">
                <label class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></label>
            </div>
            <br>
            <div class="col-12">
                <input class="form-control" type="text" th:field="*{telefone}"  placeholder="Telefone">
            </div>
            <br>
            <div class="col-12">
                <input class="form-control" type="text" th:field="*{cpf}"  placeholder="CPF">
            </div>
            <br>
            <input class="btn btn-success btn-sm elevate" type="submit" value="Enviar">
            <br>
            <br>
            <div class="alert alert-danger" role="alert" th:each="erro : ${#fields.detailedErrors()}">
                <span th:text="${erro.message}"></span>
            </div>
        </form>

    </div>
</main>
</body>
</html>
