<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="/">App de Consulta Médica</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"  href="/consulta/list">Consultas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/paciente/list">Pacientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/medico/list">Médicos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="container">
    <br><br>
    <div class="container">
        <h1>Cadastro de Paciente</h1>
        <hr>
        <form th:action="@{${paciente.id == null} ? '/paciente/save' : '/paciente/update'}" th:object="${paciente}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="col-12">
                <input class="form-control" type="text" th:field="*{nome}"  placeholder="Nome">
            </div>
            <br>
            <div class="col-12">
                <input class="form-control" type="text" th:field="*{telefone}"  placeholder="Telefone">
            </div>
            <br>
            <div class="col-12">
                <input class="form-control" type="text" th:field="*{cpf}"  placeholder="CPF">
            </div>
            <br>
            <input class="btn btn-success btn-sm" type="submit" value="Enviar">
        </form>
    </div>

</main>

</body>
</html>